In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('IRIS.csv')

In [6]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width          species
63            6.1          2.9           4.7          1.4  Iris-versicolor
32            5.2          4.1           1.5          0.1      Iris-setosa
57            4.9          2.4           3.3          1.0  Iris-versicolor
9             4.9          3.1           1.5          0.1      Iris-setosa
141           6.9          3.1           5.1          2.3   Iris-virginica
95            5.7          3.0           4.2          1.2  Iris-versicolor
55            5.7          2.8           4.5          1.3  Iris-versicolor
126           6.2          2.8           4.8          1.8   Iris-virginica
1             4.9          3.0           1.4          0.2      Iris-setosa
149           5.9          3.0           5.1          1.8   Iris-virginica

In [10]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [18]:
data.groupby(['species'])['sepal_width'].mean()

species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: sepal_width, dtype: float64

In [19]:
data.groupby(['species'])['sepal_width'].median()

species
Iris-setosa        3.4
Iris-versicolor    2.8
Iris-virginica     3.0
Name: sepal_width, dtype: float64

In [20]:
data.groupby(['species'])['sepal_width'].min()

species
Iris-setosa        2.3
Iris-versicolor    2.0
Iris-virginica     2.2
Name: sepal_width, dtype: float64

In [21]:
data.groupby(['species'])['sepal_width'].max()

species
Iris-setosa        4.4
Iris-versicolor    3.4
Iris-virginica     3.8
Name: sepal_width, dtype: float64

In [26]:
df['species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object